.lnpw_pay {
  background-color: #ecf0f1;
  padding: 30px;
}

.lnpw_pay__content,
.lnpw_pay__preview {
  text-align: center;
}

.lnpw_pay__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
#lnpw_pay__button {
  background: #f6b330;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.lnpw_pay__loading p.loading.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.lnpw_pay__loading p.loading.spinner:before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  margin: 5px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #ffa500 #1d5aa3 #ffa500 #1d5aa3;
  animation: spinner 1s linear infinite;
}

.lnpw_help > a.lnpw_help__link {
  margin-top: 5px;
  color: #2980b9;
  text-decoration: underline;
}

.lnpw_pay__loading p.loading.spinner {
  margin-top: 5px;
}

.lnpw_pay__content p {
  margin-top: 20px;
  font-size: 1.1em;
}
.lnpw_pay__footer div.lnpw_help {
  margin-top: 3em;
}

.lnpw_store {
  display: flex;
}
.lnpw_store_video {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}
.lnpw_store_video_preview {
  height: auto;
  max-width: 50%;
}

a.lnpw_pay__download {
  text-decoration: none;
  background-color: #0073aa;
  border-radius: 5px;
  padding: 0.7em 1.4em;
  cursor: pointer;
  color: white;
  line-height: 1.8;
  font-weight: bold;
}

/*
Tipping box

*/
.lnpw_tipping_box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.lnpw_tipping_box_container div,
.lnpw_tipping_box_container img,
.lnpw_tipping_box_container pre,
.lnpw_tipping_box_container figure {
  max-width: 100%;
  overflow: hidden;
}
.lnpw_tipping_box_header_container > div > h6,
.lnpw_tipping_box_container.lnpw_tipping_free_input,
.lnpw_tipping_box_container.lnpw_tipping_converted_values {
  display: flex;
  justify-content: center;
}
.lnpw_tipping_box_container fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.lnpw_tipping_box_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.lnpw_tipping_box_header_container h6 {
  margin-left: 5px;
}
#lnpw_tipping_amount,
#lnpw_converted_amount,
#lnpw_tipping_amount_lnpw_widget,
#lnpw_converted_amount_lnpw_widget {
  height: 80%;
  width: 50%;
  font-size: 15px;
}
#lnpw_tipping_currency,
#lnpw_converted_currency,
#lnpw_tipping_currency_lnpw_widget,
#lnpw_converted_currency_lnpw_widget {
  height: 80%;
  width: 50%;
  font-size: 15px;
  color: white !important;
}
#tipping_form_box fieldset h6,
#tipping_form_box_widget fieldset h6 {
  text-align: center;
  margin: 10px 0;
}
.lnpw_tipping_box_container h6 {
  font-weight: bold;
  font-size: 16px;
}
.lnpw_tipping_box_container fieldset > h6 {
  margin-left: 1px;
}
.lnpw_tipping_box_info_container > p {
  margin: 0.5em 0;
  font-size: 14px;
}

.lnpw_tipping_box_amount {
  margin-top: 1em;
}
.lnpw_tipping_box_container select {
  line-height: 1;
}
#lnpw_converted_amount,
#lnpw_converted_amount_lnpw_widget {
  text-align: right;
}
#lnpw_converted_currency,
#lnpw_converted_currency_lnpw_widget {
  text-align: left;
}
.predefined_container input[type="radio"] {
  position: absolute;
  width: 10%;
  height: 5%;
  opacity: 0;
}
.lnpw_tipping_box_amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lnpw_tipping_free_input,
.lnpw_tipping_converted_values {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lnpw_tipping_free_input {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  height: 50px;
  width: 80%;
  background-color: orange;
}

#lnpw_tipping_amount,
#lnpw_tipping_amount_lnpw_widget {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}
.lnpw_tipping_converted_values {
  margin-bottom: 2em;
}
.lnpw_tipping_box_container fieldset input:not([type="submit"]) {
  margin-bottom: 0;
}

.lnpw_tipping_box_container {
  position: relative;
}
.lnpw_tipping_box_header_container {
  min-height: 40px;
}

#button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
}
#lnpw_tipping_amount,
#lnpw_tipping_amount_lnpw_widget {
  background-color: white;
}
#lnpw_converted_amount,
#lnpw_tipping_currency,
#lnpw_converted_currency,
#lnpw_converted_amount_lnpw_widget,
#lnpw_tipping_currency_lnpw_widget,
#lnpw_converted_currency_lnpw_widget {
  border: none;
  background: transparent;
}

#button > button[type="submit"] {
  width: 50%;
  margin: 5px auto;
}
#lnpw_tipping__button,
#lnpw_tipping__button_lnpw_widget {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#button button,
#button input[type="button"] {
  font-size: 16px;
  padding: 0;
}
/* 
  Tipping skyscraper
*/

.lnpw_skyscraper_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.lnpw_skyscraper_tipping_container fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  min-width: 0;
  padding: 0;
}

.lnpw_skyscraper_tipping_container.high h6 {
  margin: 0.4em;
}

.lnpw_skyscraper_amount {
  display: flex;
}

#lnpw_skyscraper_converted_amount,
#lnpw_widget_lnpw_skyscraper_converted_amount_wide,
#lnpw_widget_lnpw_skyscraper_converted_amount_high {
  text-align: right;
  font-size: 15px;
}
#lnpw_skyscraper_converted_currency,
#lnpw_widget_lnpw_skyscraper_converted_currency_wide,
#lnpw_widget_lnpw_skyscraper_converted_currency_high {
  text-align: left;
  font-size: 15px;
}

#lnpw_skyscraper_tipping_amount,
#lnpw_widget_lnpw_skyscraper_tipping_amount_wide,
#lnpw_widget_lnpw_skyscraper_tipping_amount_high {
  height: 30px;
  width: 50%;
  margin: 0;
}
#lnpw_skyscraper_tipping_currency,
#lnpw_widget_lnpw_skyscraper_tipping_currency_wide,
#lnpw_widget_lnpw_skyscraper_tipping_currency_high {
  height: 30px;
  width: 50%;
  font-size: 15px;
}
#lnpw_skyscraper_tipping_currency,
#lnpw_widget_lnpw_skyscraper_tipping_currency_wide,
#lnpw_widget_lnpw_skyscraper_tipping_currency_high {
  color: white;
  font-weight: bold;
}
#lnpw_skyscraper_tipping_amount,
#lnpw_skyscraper_tipping_currency,
#lnpw_widget_lnpw_skyscraper_tipping_currency_wide,
#lnpw_widget_lnpw_skyscraper_tipping_currency_high,
#lnpw_widget_lnpw_skyscraper_tipping_amount_wide,
#lnpw_widget_lnpw_skyscraper_tipping_amount_high {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
}

#lnpw_skyscraper_button,
#lnpw_widget_lnpw_skyscraper_button_high,
#lnpw_widget_lnpw_skyscraper_button_wide {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  justify-content: center;
}
#lnpw_skyscraper_button button,
#lnpw_skyscraper_button input[type="button"],
#lnpw_widget_lnpw_skyscraper_button_high button,
#lnpw_widget_lnpw_skyscraper_button_high input[type="button"],
#lnpw_widget_lnpw_skyscraper_button_wide button,
#lnpw_widget_lnpw_skyscraper_button_wide input[type="button"] {
  padding: 0;
  line-height: 20px;
  height: 40px;
}

#lnpw_skyscraper_button > div,
#lnpw_widget_lnpw_skyscraper_button_high > div,
#lnpw_widget_lnpw_skyscraper_button_wide > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 5px 0;
}

#lnpw_skyscraper_button > button[type="submit"],
#lnpw_skyscraper_button > input.skyscraper-next-form,
#lnpw_widget_lnpw_skyscraper_button_high > button[type="submit"],
#lnpw_widget_lnpw_skyscraper_button_high
  > input.lnpw_widget.skyscraper-next-form.high,
#lnpw_widget_lnpw_skyscraper_button_wide > button[type="submit"],
#lnpw_widget_lnpw_skyscraper_button_wide
  > input.lnpw_widget.skyscraper-next-form.wide {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 0;
}

#lnpw_skyscraper_button > div:nth-child(1) > input,
#lnpw_widget_lnpw_skyscraper_button_wide > div:nth-child(1) > input,
#lnpw_widget_lnpw_skyscraper_button_high > div:nth-child(1) > input {
  color: white;
}

#lnpw_skyscraper_button button,
#lnpw_skyscraper_button input[type="button"],
#lnpw_widget_lnpw_skyscraper_button_high button,
#lnpw_widget_lnpw_skyscraper_button_high input[type="button"],
#lnpw_widget_lnpw_skyscraper_button_wide button,
#lnpw_widget_lnpw_skyscraper_button_wide input[type="button"] {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  font-size: 16px;
}

#lnpw_skyscraper_converted_amount,
#lnpw_skyscraper_tipping_currency,
#lnpw_skyscraper_converted_currency,
#lnpw_widget_lnpw_skyscraper_converted_amount_high,
#lnpw_widget_lnpw_skyscraper_tipping_currency_high,
#lnpw_widget_lnpw_skyscraper_converted_currency_high,
#lnpw_widget_lnpw_skyscraper_converted_amount_wide,
#lnpw_widget_lnpw_skyscraper_tipping_currency_wide,
#lnpw_widget_lnpw_skyscraper_converted_currency_wide {
  border: none;
  background: transparent;
}

.lnpw_skyscraper_tipping_amount,
.lnpw_skyscraper_tipping_converted_values,
.lnpw_skyscraper_header_container h6,
.lnpw_skyscraper_info_container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.lnpw_skyscraper_tipping_container #skyscraper_tipping_form > fieldset > h6,
.lnpw_skyscraper_tipping_container
  #lnpw_widget_skyscraper_tipping_form_high
  > fieldset
  > h6,
.lnpw_skyscraper_tipping_container
  #lnpw_widget_skyscraper_tipping_form_wide
  > fieldset
  > h6 {
  text-align: left;
  margin-left: 5px;
  margin-top: 2px;
}
#skyscraper_tipping_form fieldset:not(:first-of-type),
#lnpw_widget_skyscraper_tipping_form_high fieldset:not(:first-of-type),
#lnpw_widget_skyscraper_tipping_form_wide fieldset:not(:first-of-type) {
  display: none;
}

.lnpw_skyscraper_donor_information {
  display: flex;
  flex-wrap: wrap;
}

.lnpw_skyscraper_donor_information.wide {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.lnpw_skyscraper_donor_information.high {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}
.lnpw_skyscraper_donor_information input[type="text"],
.lnpw_skyscraper_donor_information input[type="email"],
.lnpw_skyscraper_donor_information input[type="url"],
.lnpw_skyscraper_donor_information input[type="password"],
.lnpw_skyscraper_donor_information input[type="search"],
.lnpw_skyscraper_donor_information input[type="number"],
.lnpw_skyscraper_donor_information input[type="tel"],
.lnpw_skyscraper_donor_information input[type="range"],
.lnpw_skyscraper_donor_information input[type="date"],
.lnpw_skyscraper_donor_information input[type="month"],
.lnpw_skyscraper_donor_information input[type="week"],
.lnpw_skyscraper_donor_information input[type="time"],
.lnpw_skyscraper_donor_information input[type="datetime"],
.lnpw_skyscraper_donor_information input[type="datetime-local"],
.lnpw_skyscraper_donor_information input[type="color"],
.lnpw_skyscraper_donor_information textarea {
  padding: 0;
  margin: 0 !important;
  border: solid;
}

.lnpw_skyscraper_amount > .lnpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
.lnpw_skyscraper_header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.lnpw_skyscraper_info_container {
  text-align: center;
}

.lnpw_skyscraper_tipping_container div,
.lnpw_skyscraper_tipping_container img,
.lnpw_skyscraper_tipping_container pre,
.lnpw_skyscraper_tipping_container figure {
  max-width: 100%;
  overflow: hidden;
}

.lnpw_skyscraper_tipping_converted_values {
  flex-direction: row;
}
.lnpw_skyscraper_info_container > p {
  font-size: 0.8em;
}

.lnpw_skyscraper_banner {
  line-height: 1em;
}

.lnpw_skyscraper_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 40px;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.lnpw_skyscraper_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
}
.lnpw_skyscraper_amount_value_1.high,
.lnpw_skyscraper_amount_value_2.high,
.lnpw_skyscraper_amount_value_3.high {
  display: inline-flex;
}

.lnpw_skyscraper_amount_value_1.high i,
.lnpw_skyscraper_amount_value_2.high i,
.lnpw_skyscraper_amount_value_3.high i {
  margin-right: 10px;
}

.lnpw_skyscraper_tipping_container.high fieldset {
  padding: 0;
}
.lnpw_skyscraper_tipping_container fieldset {
  margin: 0;
}

#lnpw_skyscraper_tipping_amount,
#lnpw_widget_lnpw_skyscraper_tipping_amount_wide,
#lnpw_widget_lnpw_skyscraper_tipping_amount_high {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}
#lnpw_skyscraper_tipping_currency,
#lnpw_widget_lnpw_skyscraper_tipping_currency_wide,
#lnpw_widget_lnpw_skyscraper_tipping_currency_high {
  color: white !important;
}
.lnpw_skyscraper_tipping_container.wide fieldset {
  padding: 0 1em;
}
.lnpw_skyscraper_amount_value_1.selected,
.lnpw_skyscraper_amount_value_2.selected,
.lnpw_skyscraper_amount_value_3.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_1.wide.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_2.wide.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_3.wide.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_1.high.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_2.high.selected,
.lnpw_widget.lnpw_skyscraper_amount_value_3.high.selected {
  background-color: hsl(354, 78%, 7%) !important;
}
.lnpw_skyscraper_amount_value_1 input[type="radio"],
.lnpw_skyscraper_amount_value_2 input[type="radio"],
.lnpw_skyscraper_amount_value_3 input[type="radio"] {
  display: none;
}
.lnpw_skyscraper_amount.high {
  flex-direction: column;
}

.lnpw_skyscraper_amount.wide {
  flex-direction: row;
  justify-content: space-around;
}

.lnpw_skyscraper_amount.high > div {
  margin: 5px auto;
  width: 80%;
}

.lnpw_skyscraper_tipping_converted_values.high {
  display: flex;
  margin-bottom: 2em;
}

.lnpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
}

.lnpw_skyscraper_tipping_free_input.high {
  justify-content: center;
}

.lnpw_widget.lnpw_skyscraper_tipping_container.wide {
  width: 600px !important;
  height: 160px !important;
}
.lnpw_widget.lnpw_skyscraper_tipping_container.high {
  width: 160px !important;
  height: 600px !important;
}

/**
Tipping page

*/
#lnpw_page {
  display: flex;
  flex-direction: column;
}

.lnpw_page_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1em;
  position: relative;
}

.lnpw_page_tipping_container fieldset {
  border: 0;
  min-width: 0;
}

.lnpw_page_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
}

#lnpw_page_converted_amount {
  text-align: right;
  font-size: 15px;
}
#lnpw_page_converted_currency {
  text-align: left;
  font-size: 15px;
}
#lnpw_page_tipping_amount {
  width: 55%;
}
#lnpw_page_tipping_amount,
#lnpw_page_tipping_currency {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 1px;
}
#lnpw_page_tipping_currency {
  width: 45%;
  font-size: 15px;
}

#lnpw_page_button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 75px;
}

#lnpw_page_button > input.page-next-form {
  width: 50%;
}

#lnpw_page_button > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px 0;
}

#lnpw_page_button > div:nth-child(1) > input {
  color: white;
}

#lnpw_page_button > button[type="submit"],
#lnpw_page_button > input.page-next-form {
  width: 50%;
  margin: 10px auto;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#lnpw_page_tipping__button {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#lnpw_page_button button,
#lnpw_page_button input[type="button"],
#lnpw_page_button input[type="submit"] {
  padding: 10.5px 14px;
  font-size: 1.5em;
  text-transform: uppercase;
}
#lnpw_page_tipping_currency {
  color: white;
  font-weight: bold;
}
#lnpw_page_converted_amount,
#lnpw_page_tipping_currency,
#lnpw_page_converted_currency {
  border: none;
  background: transparent;
}
.lnpw_page_header_container h6 {
  font-size: 1.2em;
  padding-top: 0.5em;
}

.lnpw_page_tipping_amount,
.lnpw_page_tipping_converted_values,
.lnpw_page_header_container h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page_tipping_form fieldset:not(:first-of-type) {
  display: none;
}

.lnpw_page_donor_information {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}
.lnpw_page_donor_information > div {
  display: flex;
  margin: 0 5px;
  width: 100%;
}

.lnpw_page_donor_information input[type="text"],
.lnpw_page_donor_information input[type="email"],
.lnpw_page_donor_information input[type="url"],
.lnpw_page_donor_information input[type="password"],
.lnpw_page_donor_information input[type="search"],
.lnpw_page_donor_information input[type="number"],
.lnpw_page_donor_information input[type="tel"],
.lnpw_page_donor_information input[type="range"],
.lnpw_page_donor_information input[type="date"],
.lnpw_page_donor_information input[type="month"],
.lnpw_page_donor_information input[type="week"],
.lnpw_page_donor_information input[type="time"],
.lnpw_page_donor_information input[type="datetime"],
.lnpw_page_donor_information input[type="datetime-local"],
.lnpw_page_donor_information input[type="color"],
.lnpw_page_donor_information textarea {
  font-size: 14px;
  padding: 12.5px 8px;
  flex: 1;
  margin: 1px;
}

.lnpw_page_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.lnpw_page_header_container h6 {
  margin: 0 5px;
}

#page_tipping_form > fieldset > h6 {
  text-align: left;
  margin: 2em 0 2em 5px;
}
.lnpw_page_tipping_converted_values {
  flex-direction: row;
}

.lnpw_page_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 150px;
  height: 70px;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.lnpw_page_amount_value_1 input[type="radio"],
.lnpw_page_amount_value_2 input[type="radio"],
.lnpw_page_amount_value_3 input[type="radio"] {
  display: none;
}

.lnpw_page_amount_value_1 i,
.lnpw_page_amount_value_2 i,
.lnpw_page_amount_value_3 i {
  margin-right: 1em;
}

.lnpw_page_tipping_converted_values {
  display: flex;
  margin-bottom: 2em;
}

.lnpw_page_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
#lnpw_page_tipping_amount {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.lnpw_page_bar_container {
  display: flex;
}
.lnpw_page_bar_container div {
  display: flex;
  background-color: lightgray;
  width: 50%;
  height: 2em;
  justify-content: center;
  align-items: center;
  color: #a4b0c6;
}

.lnpw_page_bar_container.active {
  background-color: grey;
}

.lnpw_page_amount_value_1.selected,
.lnpw_page_amount_value_2.selected,
.lnpw_page_amount_value_3.selected {
  background-color: hsl(354, 78%, 7%);
}
#powered_by_skyscraper {
  display: flex;
}
#powered_by_skyscraper p {
  margin-top: 0.5em;
  font-size: 18px;
}
#powered_by {
  display: flex;
  justify-content: center;
}

#powered_by_box {
  margin-left: 1.5em;
}
#powered_by p {
  margin-top: 0.5em;
  font-size: 18px;
}
#powered_by_box p {
  margin-top: 0.5em;
  font-size: 18px;
}
/**
  Tipping button spinner

*/

.tipping-border {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #ffa500 #1d5aa3 #ffa500 #1d5aa3;
  animation: spinner 1s linear infinite;
}
